*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    padding: 15px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color:crimson;
}
.max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.logo a{
    color:white;
    font-size: 30px;
    font-weight: 600;
}
.logo a span:hover{
    color:crimson;
}
.menu li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}
.menu li:hover{
    color:crimson;
}
/*     */
.menu-btn{
    color:white;
}

/* Home Section*/
.home{
    display: flex;
    background: url('images/NYC.jpg') no-repeat center;
    height: 100vh;
    color:white;
    min-width: 500px;
    opacity: 100%;
}
.home .max-section{
    margin: auto 0 auto 40px;
}
.home .home-section .text1{
    font-size: 35px;
    font-weight: 600;
}
.home .home-section .text2{
    font-size: 80px;
    font-weight: 600;
    margin-left: -5px;
}
.home .home-section .text3{
    font-size: 35px;
    font-weight: 600;
}